# Resend Secret API Key (Get this from https://resend.com)
RESEND_API_KEY=re_your_api_key_here

# Recipient Email (Where the contact form messages will be sent)
TO_EMAIL=techpavithran18@gmail.com

# Sender Email
# If using the Resend free tier, you must use onboarding@resend.dev.
# If you have a verified domain, you can use something like contact@yourdomain.com
FROM_EMAIL=onboarding@resend.dev
